    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>How it works<br></h2>
                <p>  
                    <span class="fa-layers fa-fw">
    <i class="fa fa-comments fa-3x" data-fa-transform="left-3" aria-hidden="true"></i>
                    </span></p>
                <p>
Natural voice interface means there’s no learning curve. Elders just talk to Grancentral’s friendly robot avatar.</p>
                <p><span class="fa-layers fa-fw">
    <i class="far fa-image fa-3x" data-fa-transform="left-3" aria-hidden="true"></i></span></p>
                <p>
Easy to set up and use, with nothing to wear, nothing to charge, just an attractive base station that can be placed anywhere you’d put a picture frame.</p>
                <p><span class="fa-layers fa-fw"><i class="far fa-address-card fa-3x" data-fa-transform="left-3" aria-hidden="true"></i></span></p>
                <p>
Simple two-way video messaging makes it easier for  the elder and their family to stay connected in spite of busy schedules or timezone challenges.</p>
                <p><span class="fa-layers fa-fw"><i class="fas fa-mobile-alt fa-3x" aria-hidden="true"></i></span></p>
                <p>
Grancentral learns elders' daily activities and uses a mobile app to alert caregivers about changes that need attention.</p>
                <p><span class="fa-layers fa-fw"><i class="fa fa-heartbeat fa-3x" data-fa-transform="left-3" aria-hidden="true"></i></span></p>
                <p>
Conversational screening and machine learning unobtrusively monitor elders’ mental and physical well-being.</p>
            </div>
        </div>
    </section>