    <!-- signup Section -->
    <section id="signup" class="signup-section text-center">
        <div class="signup-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Sign Up</h2>
                    <p>We are currently looking for families interested in trying out GranCentral. Get in touch! </p>
                    
                    
<div class="form-group">
    <form action="https://formspree.io/info@oaktree.group" method="POST">
    <input type="text" placeholder="your name" name="name" class="form-control contactform"><br>
    <input type="email" placeholder="your email" name="_replyto" class="form-control contactform"><br>
    <textarea name="story" placeholder="share your story" class="form-control contactform"></textarea>
    <input type="hidden" name="_next" value="http://grancentral.ai" /><br>
    <input type="submit" value="Send" class="btn btn-default btn-lg">
    </form></div>
                    </div>
                    </div>
                </div>
            </div>
    </section>